<div class="header-container">
    <div class="header-app-title">
        <ul>
            <li>
                <i class="material-icons">
                    radio_button_unchecked
                </i>
            </li>
            <li class="title-text">
                Site Dashboard
            </li>
        </ul>

        <span></span>
    </div>
    <div class="header-app-title">
        <ul>
            <li>
                <i class="material-icons">
                    notifications
                </i>
                <span>3</span>
            </li>
            <li class="title-text">
                Alex Deo
            </li>
            <li class="icon">
                <button mat-fab>
                    <i class="material-icons">
                        keyboard_arrow_down
                    </i>
                </button>

            </li>
        </ul>

        <span></span>
    </div>

</div>