@import '../ui-colors';
.header-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 24px 0px 0px 0px;
    color: color(white);

   .header-app-title{
       ul{
           list-style: none;
           padding: 0px;
           width: 146px;     
           li{
               display: inline;
               span{
                position: relative;
                bottom: 26px;
                right: 12px;
                background: color(button-icon-color);
                line-height: 8px;
                padding: 0px 5px;
                border-radius: 50%;
                font-size: 14px;
               }
           }
           .title-text{
            position: relative;
            bottom: 6px;
            left: 0px;
           }
           .icon{
            position: relative;
            left: 6px;
            .mat-fab {
                cursor: pointer;
                width: 20px;
                height: 20px;
                padding: 0;
                top: 0px;
                bottom: 8px;
                left: 6px;
                background: color(button-icon-color);
                color: color(white);
                ::ng-deep .mat-button-wrapper{
                    padding: 0px 0;
                    display: inline-block;
                    line-height: 24px;
                    position: relative;
                    bottom: 8px;
                    right: 2px;
                }
            }
        }
    }
}
}