$app-colour:(  
    lightGrey: #F5F7FA,
    white: #FFFFFF,
    header :#5C6AC9,
    button-icon-color: #4C5EBB,
    card-title: #989ea5,
    card-description:#79818b,
    card-subtitle: #7f8790,
    card-subtitleNumber: #36CB89,
    risk-button-text: #D28E62,
    risk-button-bg: #FAF2EF,
    silver-btn-text: #AAB2BA,
    silver-btn-bg: #F1F2F3,
    table-row: #fbfbfb,
    sort-icon:#7cd2d3
);

@function color($colour-name){
    @return map-get($app-colour, $colour-name)
}