<div class="container">
        <div class="center">
                <mat-grid-list cols="12" gutterSize="0px">
                        <mat-grid-tile [colspan]="2"></mat-grid-tile>
                        <mat-grid-tile [colspan]="8" class="center-app">main-app</mat-grid-tile>
                        <mat-grid-tile [colspan]="2"></mat-grid-tile>
                </mat-grid-list>
        </div>
    <div class="layer-1">layer-1</div>
    <div class="layer-2">layer-2</div>
    <div class="layer-3">layer-3</div>
   
</div>