@import './ui-colors';
.container{
    .center{
        position: relative;
        margin: 0 auto;
        width: 70%;
        height: 100vh;
        // border: 1px solid red;
        z-index: 1;
    }
    .layer-1{
        width: 100%;
        height: 24vh;
        background: color(header);
        position: absolute;
        top: 0px;

    }
    .layer-2{
        width: 100%;
        height: 35vh;
        position: relative;
        top: 38px;
    }
    .layer-3{
        width: 100%;
        height: 60vh;
        background: color(white);
        position: relative;
        top: 38px;

    }
    .layer-4{
        width: 100%;
        height: 60vh;
        position: relative;
        top: 38px;

    }

}