@import './ui-colors';
.main-container{
    background: color(lightGrey)
}
.container{
    position: relative;
    z-index: 1;
   .title-section{
        margin-top: 35px;
    }
   
    .left-card{
        width: 69%;
        float: left;
        height: 200px;
        margin-right: 1%;
    }
    .left-status{
        width: 25%;
        float: left;
    }
    .right-status{
        width: 75%;
        float: left;
        
    }
    .right-card{
        width: 30%;
    float: left;
    height: 200px;
    margin-left: 0%;
    }
}

.shadow-box{
        background: color(white);
        border-radius: 8px;
        box-shadow: 2px 6px 5px -6px rgba(0,0,0,1);
}
    .left-box{
        padding:12px;
        width: 30%
    }
    .center-box{
        padding:12px;
        width: 70%
    }

    table {
        width: 100%;
      }

      .layer-1{
        width: 100%;
        height: 24vh;
        background: color(header);
        position: absolute;
        top: 0%;
    }
    .layer-2{
        width: 100%;
        height: 24vh;
        position: absolute;
        top: 24%;
    }
    .layer-3{
        width: 100%;
        height: 46vh;
        background: color(white);
        position: absolute;
        top: 45%;
    }