<div class="row">
        <div class="col-lg-5 title">RANK</div>
        <div class="col-lg-7 title">PLANTS WITH HIGH O/P</div>
</div>
<div class="row right-content">
        <div class="col-lg-5 padding-0">
                <i class="material-icons">stars</i> <span class="digit">6</span>
                <div class="sub-title">
                        <span class="count-description">You're in top</span>
                        <span class="count-number"> 40% </span>
                </div>
        </div>
        <div class="col-lg-7">
                <i class="material-icons">check_circle</i><span class="digit">3</span>
                <div class="sub-title">
                        <span class="count-number">10 </span>
                        <span class="count-description">in this month</span>
                </div>
        </div>
</div>
<div class="row top-12">
        <div class="col-lg-12 title ">TOP CATEGORIES</div>
        <div class="col-lg-12">
                <span class="light-btn">Power</span>
                <span class="light-btn margin-2">Renewable</span>
        </div>
</div>