<div class="satus-card-container">
    <div class="card-1">
        <mat-card>
            <div class="left-contianer-description">
                <h5>POWER GENERATION</h5>
                <h2>345.45 KW</h2>
                <div>
                    <span class="count-number">+42 </span>
                    <span class="count-description">since last week</span>
                </div>
                <p>3 HIGH IMPACTS RISK</p>
            </div>
            <div class="right-contianer-chart">
                High Charts
            </div>
        </mat-card>
    </div>
    <div class="card-2">
        <mat-card>Simple card</mat-card>
    </div>
</div>