<div class="satus-card-container">
    <div class="card-1">
        
            <div class="left-contianer-description">
                <h5>POWER GENERATION</h5>
                <h2>345.45 KW</h2>
                <div style="margin-bottom: 54%;">
                    <span class="count-number">+42 </span>
                    <span class="count-description">since last week</span>
                </div>
                <span class="risk-tag">3 HIGH IMPACTS RISK</span>
            </div>
            <div class="right-contianer-chart">
                <app-high-chart></app-high-chart>
            </div>
        
    </div>
    <!-- <div class="card-2">
        asd
    </div> -->
</div>