@import '../ui-colors';

.left-box-container{
    display: flex;
    flex-flow: column;
    align-items: flex-start

}


.title-description{
    margin: 16px 0px 6px 0px;
    color:color(card-title);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 28px;
}
.sub-title{
    .count-number{
        color: color(card-subtitleNumber);
    }
    .count-description{
        color: color(card-subtitle);
    }
}
.bottom-lable{
    // position: absolute;
    // bottom:24px;
    // margin: 50px 0px 0px 0px;
    background: color(risk-button-bg);
    color:color(risk-button-text);
    border-radius: 18px;
    padding: 6px 12px 6px 12px;
    font-size: 15px;
    margin-top: 35px;
}